@import "tailwindcss";

@theme {
    --font-inria-sans: "Inria Sans";
    --breakpoint-xxs: 20rem;
    --breakpoint-xs: 24rem;
    --color-blog-up-black: #2C2C2C;
    --color-blog-up-black-light: #4A4A4A;
    --color-blog-up-red: #FF5E5B;
    --color-blog-up-dark-red: #E04F4C;
    --color-blog-up-green: #6EEB83;
    --color-blog-up-green-dark: #5BC973;
    --color-blog-up-white: #FFFFFF;
    --color-blog-up-gray: #DBDBDB;
}

.circle {
  position: relative;
  aspect-ratio: 1;
}

.letter {
  position: absolute;
  top: 0;
  left: 50%;
}

/* Hide scrollbar for Chrome, Safari */
/* html, body {
    overflow-y: auto;
    scrollbar-width: none;  
    -ms-overflow-style: none;  
  } */
  
  /* Hide scrollbar for WebKit browsers */
  html::-webkit-scrollbar {
    display: none;
  }
