@import "tailwindcss";

@theme {
    --font-inria-sans: "Inria Sans";
    --breakpoint-xxs: 20rem;
    --breakpoint-xs: 24rem;
}

/* Hide scrollbar but allow scrolling */
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE & Edge */
}
