@import "tailwindcss";

@theme {
    --font-inria-sans: "Inria Sans";
    --breakpoint-xxs: 20rem;
    --breakpoint-xs: 24rem;
}

/* Hide scrollbar for Chrome, Safari */
/* html, body {
    overflow-y: auto;
    scrollbar-width: none;  
    -ms-overflow-style: none;  
  } */
  
  /* Hide scrollbar for WebKit browsers */
  html::-webkit-scrollbar {
    display: none;
  }
